.coinListOptions{
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid whitesmoke; */
}
.coinChips{
    margin: 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem;
    border: 0.05rem solid rgb(75, 76, 78);
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
}
.coinChips:hover {
    background-color: #f4f4f529;
}